.component {
    margin: 20px;
    padding: 10px;
    border: 2px solid red;
    border-radius: 15px;
    background-color: #FFF4E0;
}

td {
    font-weight: bolder;
    background-color: #F1FFF9;
}

tr.checked td {
    background-color: lightgray;
    text-decoration: line-through;
    font-weight: normal;
}

.counts {
    display: flex;
    justify-content: space-around;
}

.counts pre:nth-child(1) {
    color: cornflowerblue;
}

.counts pre:nth-child(2) {
    color: forestgreen;
}

.counts pre:nth-child(3) {
    color: indianred;
}